{% extends "basic.html" %}
{% block title %} Главная страница {% endblock %}

{% block content %}

  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайт: {{ name }}</h1>

    
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ id }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ name }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ created }}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="/urls/{{ id }}/checks">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    
  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
      <tbody>
          {% for url_check in url_checks %}
            <tr>
              <td>{{ url_check[0] }}</td>
              <td>{{ url_check[2] }}</td>
              <td>{{ url_check[3] if url_check[3] else '' }}</td>
              <td>{{ url_check[4] if url_check[4] else '' }}</td>
              <td>{{ url_check[5] if url_check[5] else '' }}</td>
              <td>{{ url_check[6] }}</td>
            </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  {% endblock %}